body::before{
    content: '';
    position: fixed;
    background-image:linear-gradient(150deg, #020024, #46128c, #00d4ff);
    width: 100%;
    height: 100vh;
    z-index: -1;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{

    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgb(35, 25, 73);
    border-radius: 20px;
    width: 70em;

}

.image-container{
    
    background: yellowgreen;
    background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(136, 136, 206, 0.7)
    ),
    url(images/image-header-desktop.jpg);
        background-repeat: no-repeat;
        background-size:cover;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
       
}


.description-container{
    display: flex;
    flex-direction: column;
    padding: 2em;
    color:white;
}

.description ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;


}

li{
    margin: 0 1em 0 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    line-height: 0px;
}

.description-p{
    
    line-height: 0px;
}
